body{
    background-color: skyblue;
    }
    
    ul li a{
        color: rgb(255, 255, 255);
        text-decoration: none;
       float: right; 
       margin: 10px;
    }
    ul li{
        list-style:none;
    }

    .search-box{
        width: 25%;
        display: flex;

    }
    .search-input{
        width: 100%;
        height: 23px;
        padding: 10px;
        border: 4px solid #111d5e;
        border-radius:10px 0 0 10px ;
        border-right: none;
        outline: none;
        font-size: 20px;
        color: tomato;
        background: none;
    }
    .search-button{
        text-align: center;
        height: 51px;
        width: 40px;
        outline: none;
        cursor: pointer;
        border: 4px solid #111d5e;
        border-radius: 0 10px 10px 0 ;
        border-left: none;
        background: none;
        font-size: 20px;
        border-left: 4px solid #111d5e;


    }


    .hor{
        clear: both;
        width: 100%;
        margin-top: 30px;
    }
    
    .hor div{
        margin-left: 1%;
        width: calc(92%/ 5);
        float: left;
        text-align: center;
         
    }
    
    .hor div h2{
        bottom: 0px;
        top: 0px;
    }
    .hor div img{
        border-radius: 20px;
        width: 200px;
        height: 200px;
    }
    
    .hor div a[class="reading"]{
        text-decoration: none;
        list-style:none;
        color: rgb(255, 255, 255);
        background-color: rgb(18, 7, 112);
        padding: 2px;
        border: 1 solid black;
        border-radius: 25px;
        padding: 2px;
        margin: 3px;
    }
    .hor div a[class="download"]{
        text-decoration: none;
        list-style:none;
        color: rgb(255, 255, 255);
        background-color: rgb(11, 71, 3);
        padding: 2px;
        border: 1 solid black;
        border-radius: 25px; 
        padding: 2px;
        margin: 3px;
    
    }
    
    .button a{
        border-radius: 1 solid black;
        color: black;
        margin: 0;
        padding: 0;
    }
    
    
    .hor div a[class="reading"]{
        text-decoration: none;
        list-style:none;
        color: rgb(255, 255, 255);
        background-color: rgb(18, 7, 112);
        padding: 2px;
        border: 1 solid black;
        border-radius: 25px;
        padding: 2px;
        margin: 2px;
    }
    .hor a[class="download"]{
        text-decoration: none;
        list-style:none;
        color: rgb(255, 255, 255);
        background-color: rgb(11, 71, 3);
        padding: 2px;
        border: 1 solid black;
        border-radius: 25px; 
        padding: 2px;
        margin: 2px;
    }    